###############################################################################
#                                                                             #
# To activate this file, you have to rename it to /root/.update_vm.cfg and    #
# uncomment the options you want to overwrite.                                #
#                                                                             #
###############################################################################
#            THIS FILE SHOULD ONLY USED FOR TESTING PURPOSES.                 #
###############################################################################


# PINGHOST="{{ ansible_playbook_host_alt }}"
# REPO="{{ ansible_playbook_repo_alt }}"
# DEST="{{ ansible_playbook_dest_alt }}"

